@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/App.css */

.App {
  text-align: center;
  margin: 20px;
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  font-family: monospace;
  font-size: 16px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
